#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Основные стили для приложения */
.App {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
header {
    position: fixed; /* Фиксированное положение */
    top: 0; /* Вверху страницы */
    left: 0; /* Слева */
    right: 0; /* Справа */
    background-color: #282c34; /* Темный фон */
    color: white; /* Белый текст */
    padding: 10px; /* Отступы */
    display: flex; /* Flexbox для выравнивания */
    justify-content: space-between; /* Пространство между элементами */
    align-items: center; /* Выравнивание по вертикали */
    z-index: 1000; /* Установка z-index */
}

/* Стили для блока с пользователем */
.box {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Стили для навигации */
nav {
    display: flex;
    gap: 15px; /* Отступы между элементами */
}

    /* Стили для ссылок */
    nav a {
        color: white; /* Белый цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
        padding: 8px 16px; /* Внутренние отступы */
        border-radius: 4px; /* Скругляем углы */
        transition: background-color 0.3s; /* Плавный переход цвета фона */
    }

        /* Эффект наведения на ссылки */
        nav a:hover {
            background-color: rgba(255, 255, 255, 0.2); /* Прозрачный белый фон при наведении */
        }

/* Стили для основного контента */
h1 {
    margin: 20px 0; /* Отступы сверху и снизу */
}

.book {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust 250px as needed */
    grid-gap: 20px; /* Adjust gap as needed */
}
.book li {
    list-style: none;
    border: 2px solid #000; /* Черная рамка */
    border-radius: 10px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    width: 140px; /* Ширина обертки */
    height: 200px;
    background-color: #282c34; /* Цвет фона */
    margin: 20px 0;
}

.body {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.pagin {
    position: fixed;
    top: 90%;
    left: 45%;
}